@charset "UTF-8";

 
.icon-tag:before { content: '\e70c'; } /* '' */
.icon-tags:before { content: '\e70d'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-user:before { content: '\e802'; } /* '' */
.icon-check:before { content: '\e805'; } /* '' */
.icon-link:before { content: '\e808'; } /* '' */
.icon-megaphone:before { content: '\e809'; } /* '' */
.icon-flash:before { content: '\e80a'; } /* '' */
.icon-mail-2:before { content: '\e80b'; } /* '' */
.icon-flash-2:before { content: '\e80c'; } /* '' */
.icon-shuffle:before { content: '\e80d'; } /* '' */
.icon-flag-filled:before { content: '\e80e'; } /* '' */
.icon-briefcase:before { content: '\e80f'; } /* '' */
.icon-block:before { content: '\e810'; } /* '' */
.icon-cancel-alt-filled:before { content: '\e811'; } /* '' */
.icon-cog-2:before { content: '\e812'; } /* '' */
.icon-cog:before { content: '\e813'; } /* '' */
.icon-off:before { content: '\e814'; } /* '' */
.icon-gauge:before { content: '\e817'; } /* '' */
.icon-arrows-cw:before { content: '\e818'; } /* '' */
.icon-info-circled:before { content: '\e819'; } /* '' */
.icon-block-2:before { content: '\e81a'; } /* '' */
.icon-home:before { content: '\e81b'; } /* '' */
.icon-dot-3:before { content: '\e81d'; } /* '' */
.icon-chart-pie:before { content: '\e81e'; } /* '' */
.icon-edit:before { content: '\e81f'; } /* '' */
.icon-trash-empty:before { content: '\e820'; } /* '' */
.icon-mail:before { content: '\e822'; } /* '' */
.icon-left-open-big:before { content: '\e824'; } /* '' */
.icon-right-open-big:before { content: '\e826'; } /* '' */
.icon-lock-filled:before { content: '\e829'; } /* '' */
.icon-lock-open-filled:before { content: '\e82c'; } /* '' */
.icon-bookmark-empty:before { content: '\e82d'; } /* '' */
.icon-clock:before { content: '\e82e'; } /* '' */
.icon-bookmark:before { content: '\e830'; } /* '' */
.icon-cancel-alt:before { content: '\e831'; } /* '' */
.icon-trash:before { content: '\e833'; } /* '' */
.icon-upload-cloud-2:before { content: '\e837'; } /* '' */
.icon-eye-off:before { content: '\e839'; } /* '' */
.icon-eye:before { content: '\e83b'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-upload-cloud:before { content: '\f014'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-upload:before { content: '\f02f'; } /* '' */
.icon-location-2:before { content: '\f031'; } /* '' */
.icon-shuffle-2:before { content: '\f03b'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-cancel-circled:before { content: '\f06e'; } /* '' */
.icon-link-2:before { content: '\f07b'; } /* '' */
.icon-check-empty:before { content: '\f096'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-shield:before { content: '\f132'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-cube:before { content: '\f1b2'; } /* '' */
.icon-cubes:before { content: '\f1b3'; } /* '' */
.icon-chart-pie-1:before { content: '\f200'; } /* '' */
.icon-toggle-off:before { content: '\f204'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-user-times:before { content: '\f235'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-user-o:before { content: '\f2c0'; } /* '' */
.icon-quora:before { content: '\f2c4'; } /* '' */
.icon-lock-4:before { content: '\f512'; } /* '' */
.icon-lock-open:before { content: '\f513'; } /* '' */
.icon-chart:before { content: '📈'; } /* '\1f4c8' */
.icon-chart-bar:before { content: '📊'; } /* '\1f4ca' */