<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta charset="utf-8">
  <meta name="author" content="Sedera Inc">

  <!-- Search Engines: keywrods max = 20 phrases, description = 160chars, title = 70 char  -->
  <title>Subledger - All transactions in one place</title>
  <meta name="description" content="All transactions in one place">

  <!-- Apple -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />

</head>

<body style="height: 100%">
  <noscript>Enable JavaScript to run this app.</noscript>
  <div id="root" style="height: 100%;"></div>
</body>

</html>